html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #E0E2DB;
  background: radial-gradient(ellipse at center, #e0e2db 0%,#d3c49a 85%,#d3c49a 100%);
}
